

<div ng-controller="modifyCtrl" class="row">


    <div class="col-xs-8 col-xs-offset-2">
        <h1>Update User Page</h1>
        Name :<input class="form-control" type="text" ng-model="user.name"><br>
        Age :<input  class="form-control" type="text" ng-model="user.age"><br>
        Email:<input  class="form-control" type="text" ng-model="user.email"><br>
        Phone :<input  class="form-control" type="text" ng-model="user.phone"><br>


        <button class="btn btn-positive" ng-click="update()">Update User</button>


    </div>


</div>


